---
import SupportersData from "../components/SupportersData.astro";
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout title="Donation" description="Donation page where every person who donates some dollars is listed here.">
  <div class="flex flex-col justify-center items-start max-w-2xl mx-auto mb-16">
    <h1 class="font-bold text-3xl md:text-5xl tracking-tight mb-4 text-black dark:text-white" transition:name="heading">
      Donation
    </h1>
    <div class="mb-8">
      <p class="text-gray-600 dark:text-gray-400 mb-4">
        I am currently preparing to buy pwk-oscp , and I am facing many problems collecting money for it. If you liked
        my work , my blog/writeups and you want to help a student. You can just donate to me. You can donate to me on
        Buymeacoffee. Thank you in Advance
      </p>
    </div>
    <h6 class="font-bold text-2xl md:text-3xl tracking-tight mb-4 text-black dark:text-white">Recent Supporters</h6>
    <div class="mt-4 space-y-8">暂无</div>
  </div>
</MainLayout>
